
body{
    background-color:rgb(137, 216, 248);
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-family:fantasy
}



h1{
    font-size: 75px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph{
    font-size: 15;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cornsilk

}

.video {
  float: right;
  margin-left: 20px;  /* space between video and text */
  margin-bottom: 20px;
}

.image{
text-align: center;
}

.fun{
    font-size: 25;
    font-family: cursive;
    color:rgb(166, 0, 255);
    text-decoration: overline underline;
    text-align: center;
}



.footer{
background-color: rgb(29, 27, 30);
    border: 2px solid white;
    position:relative;
    color:aliceblue;
    font-size: 50px;
    text-align: center;

}

.tableau-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
